* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.post {
    width: 600px;
    min-height: 100px;
    border: teal solid 1px;
    margin: 5px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.post_content {
    display: flex;
    flex-direction: column;
}
.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}
.form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.form__inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;

}
.form__button {
    padding-top: 20px;
}

.page_active {
    border: orange 2px solid;
    width: 20px;
    height: 40px;
    padding: 5px;
    margin-right: 2px;

}
.page_wrap {
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 20px;
    cursor: pointer;
}
.page {
    border: teal 1px solid;
    width: 20px;
    height: 40px;
    padding: 5px;
    margin-right: 2px;
}

.post-enter {
    transform: translateX(-350px);

}
.post-enter-active {
    transform: translateX(0);
    transition: all 500ms ease-in;
}
.post-exit {
    opacity: 1;
}
.post-exit-active {
    transform: translateX(-350px);
    transition: all 500ms ease-in;
}
