.navbar {
    background: lightgray;
    width: 100vw;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 30px;
    padding-left: 30px;
}